@import "colors";
@import "reset";

* {
  scroll-behavior: smooth;
}

$borderRadius: 20px;

$mainFontFamily: "Comfortaa", cursive;
$secondFontFamily: Poppins, sans-serif;

$transition: all 150ms ease-in-out;
