@import "colors";
@import "reset";

* {
  scroll-behavior: smooth;
}

$border: 1px solid rgba(0, 0, 0, 0.5);
$borderRadius: 5px;
$boxShadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

$mainFontFamily: Poppins, sans-serif;
$secondFontFamily: "Comfortaa", cursive;

$transition: all 150ms ease-in-out;

body {
  background: $bodyBgColor;
  color: $mainColor;
  font-family: $mainFontFamily;
}

h1 {
  font-size: 46px;
  margin: 10px 0;
  font-weight: 400;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 400;
}

.results-wrapper {
  margin-top: 60px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    margin: 10px 20px;
  }

  h2 {
    font-size: 12px;
    margin: 10px 20px;
  }

  .results-wrapper {
    margin-top: 20px;
  }
}
