@import "/src/sass/standard.scss";

.Meaning {
  background-color: rgb(151, 235, 250, 0.2);
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  padding: 20px;
  margin: 20px 0;

  .part-of-speech {
    font-size: 26px;
    padding-bottom: 10px;
  }

  .definitions {
    .title {
      font-weight: 900;
      font-size: 16px;
    }

    .text {
      font-size: 16px;
      font-style: italic;
    }

    .example {
      padding: 10px 0;
    }
  }
}
