@import "/src/sass/standard.scss";

.Meaning {
  background-color: white;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  padding: 20px;
  margin: 20px 0;

  .part-of-speech {
    font-size: 24px;
  }

  .definitions section {
    padding: 5px 0;

    .title {
      font-weight: 500;
      font-size: 16px;
      font-style: italic;
    }

    .text {
      font-size: 16px;
      font-weight: 300;
    }

    .text::first-letter {
      text-transform: capitalize;
    }
  }
}
