@import "/src/sass/standard.scss";

.Result {
  font-family: Poppins, sans-serif;
  padding: 20px;

  .word {
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: 20px;
    margin: 20px 0;
  }

  .word-name {
    font-size: 30px;
  }

  .word:first-letter {
    text-transform: capitalize;
  }
}
