@import "/src/sass/standard.scss";

.Result {
  font-family: Poppins, sans-serif;
  text-align: left;
  padding: 20px;
  width: 85%;
  margin: 0 auto;

  .word {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: 20px;
    margin: 20px 0;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .word-name {
    font-size: 30px;
    font-weight: 400;
  }

  .word-name:first-letter {
    text-transform: capitalize;
  }

  .sound-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #919191;
    padding: 10px;
    border-radius: 50%;
    transition: $transition;
  }

  a:-webkit-any-link {
    color: #919191;
    cursor: pointer;
  }

  .sound-icon:not(:disabled):hover {
    background-color: #919191;
    color: white;
  }
}

@media (max-width: 768px) {
  .Result {
    width: 100%;
  }
}
