@import "/src/sass/standard.scss";

.results {
  text-align: left;
  padding: 20px;
  width: 100%;
  margin: 0 auto;

  .wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: 20px;
    margin: 20px 0;

    .sound-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #919191;
      padding: 10px;
      border-radius: 50%;
      transition: $transition;
    }

    .sound-icon:not(:disabled):hover {
      background-color: #919191;
      color: white;
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .word {
        font-size: 30px;
        font-weight: 400;

        &:first-letter {
          text-transform: capitalize;
        }
      }

      .phonetics {
        color: #919191;
      }
    }
  }
}

@media (max-width: 768px) {
  .results {
    width: 100%;
  }
}
