@import "../sass/standard.scss";

.contact {
  display: flex;
  height: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;

  .contact-wrapper {
    .image-wrapper {
      .image {
        height: 320px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
      }
    }

    .links-wrapper {
      margin: 50px 0;

      .portfolio-link,
      .contact-link {
        border: 1px solid black;
        width: 100px;
        display: block;
        margin: 5px auto;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;

        a {
          font-size: 14px;
        }
      }

      .portfolio-link {
        background: black;

        a:-webkit-any-link {
          color: white;
          cursor: pointer;
        }
      }

      .contact-link {
        a:-webkit-any-link {
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    display: block;
    .contact-wrapper {
      .image-wrapper {
        .image {
          height: 200px;
          padding: 10px;
        }
      }
      .links-wrapper {
        .portfolio-link,
        .contact-link {
          padding: 10px;
        }

        a {
          font-size: 12px;
        }
      }
    }
  }
}
