@import "../sass/standard.scss";

.contact {
  display: flex;
  height: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  .about-wrapper {
    .about {
      color: rgb(92, 92, 92);
      font-size: 28px;
      margin: 10px 0;
    }
  }

  .contact-wrapper {
    .image-wrapper {
      .image {
        height: 320px;
        border-radius: 5px;
        background-color: white;
        box-shadow: $boxShadow;
      }
    }

    .links-wrapper {
      margin: 50px 0;

      .portfolio-link,
      .contact-link {
        border: 1px solid rgb(92, 92, 92);
        width: 100px;
        display: block;
        margin: 5px auto;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;

        a {
          font-size: 14px;
        }
      }

      .portfolio-link {
        background: rgb(92, 92, 92);

        a:-webkit-any-link {
          color: white;
          cursor: pointer;
        }

        &:hover {
          background: black;
        }
      }

      .contact-link {
        a:-webkit-any-link {
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    display: block;

    .about-wrapper {
      margin: 20px 0;
      .about {
        color: rgb(92, 92, 92);
        font-size: 28px;
        margin: 10px 0;
      }
    }
    .contact-wrapper {
      .image-wrapper {
        .image {
          height: 200px;
        }
      }
      .links-wrapper {
        .portfolio-link,
        .contact-link {
          padding: 10px;
        }

        a {
          font-size: 12px;
        }
      }
    }
  }
}
