@import "../sass/standard.scss";

.Layout {
  text-align: center;
  nav {
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: $boxShadow;
    width: 100%;

    .links {
      text-align: center;
      padding: 20px 0;

      li {
        display: inline;
      }

      .link-item {
        padding: 0 60px;
      }

      .icon {
        font-size: 20px;
        display: none;
      }

      .text-item {
        display: inline;
      }
    }

    a:-webkit-any-link {
      color: #919191;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .Layout {
    text-align: left;
    nav {
      background-color: white;
      top: auto;
      bottom: 0;
      .links {
        .link-item {
          padding: 0 30px;
        }

        .icon {
          font-size: 15px;
          display: inline;
        }

        .text-item {
          display: none;
        }
      }
    }
  }
}
