@import "../sass/standard.scss";

.Main {
  margin-top: 50px;
  .image-gallery {
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

    .image-container {
      vertical-align: middle;
      display: inline-block;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;

      .image {
        height: 350px;
        margin: 10px;
        display: inline-block;
      }
    }
  }
}
