@import "../sass/standard.scss";

.Search {
  .search-form {
    padding: 0 20px;
  }

  .search-input {
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    border-radius: $borderRadius;
  }

  .submit-button {
    padding: 20px;
    border-radius: $borderRadius;
  }

  .examples {
    padding: 0 20px;
    font-size: 14px;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .Search {
    .search-input {
      padding: 10px;
      width: 100%;
    }

    .submit-button {
      padding: 10px;
      border-radius: $borderRadius;
    }
  }
}
