@import "../sass/standard.scss";

.search {
  .form-section {
    margin-top: 40px;
  }

  form {
    margin: 0 20px;

    .form-input {
      padding: 15px;
      width: 50%;
      border: 1px solid black;
      border-radius: $borderRadius;
    }
  }

  .hint {
    margin: 5px 25px 0;
    font-size: 12px;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .search {
    .form-section {
      margin: 20px 0;
    }

    form {
      .form-input {
        padding: 10px;
        width: 100%;
      }
    }
  }
}
