@import "./sass/standard.scss";

body {
  background: $bodyBgColor;
  color: $mainColor;
  font-family: $mainFontFamily;
}

h1 {
  font-size: 46px;
  margin: 10px;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    margin: 10px 20px;
  }

  h2 {
    font-size: 12px;
    margin: 10px 20px;
  }
}
